<div>
    <h1> Перевод </h1>
    <form id="translate" method="get" action="/translate-result">
        <input name="text" type="text" />
        <input type="submit" value="Submit" />

    </form>
    @if ((Model != null) && Model.Error != null)
    {
        <h3>@Model.Error</h3>
    }


</div>

@if (Model != null && Model.Text != null)
{
    <div>
        <h2> Результат перевод </h2>
        <h3> @Model.Text</h3>
    </div>
}



